* {
   -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  margin: 0px auto;
  padding: 10px;
  max-width: 960px;
  min-width: 320px;
  background-color: #eee8d5;
  line-height: 150%;
  font-family: "Times New Roman";
}

body > header, body > footer, body > main, .border {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

body > header, body > footer, article > header {
  text-align: center;
}

table {
  margin-left: 1em;
  border-collapse: separate;
  border-spacing: 2px 2px;
}

table tr > * {
  padding: 1px;
}

table tr > th {
  white-space: nowrap;
  vertical-align: top;
}

header > table {
  margin-left: auto;
  margin-right: auto;
}

header > table tr > * {
  padding-left: 0em;
}

header > table tr > th {
  font-weight: normal;
  text-align: right;
}

header > table tr > *:nth-child(2) {
  text-align: left;
}

/* Flexbox
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction:         column;
}

body > header {
  -webkit-order: 1;
  order:         1;
}

#main {
  -webkit-order: 2;
  order:         2;
}

body > footer {
  -webkit-order: 3;
  order:         3;
}
*/
