th {
  font-weight: normal;
}

tr > *:nth-child(1) {
  padding-left: 0em;
  text-align: left;
}

/*
tr.m > *:nth-child(1) {
  padding-left: 1em;
  font-weight: bold;
}

tr.y > *:nth-child(1) {
  padding-left: 0em;
  font-weight: bold;
}
*/

tr.m, tr.y {
  display: none;
}
